<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}{% endblock %}
    </title>
    {% include 'base/stylesheets.html' %}
  </head>
  <body class="fluid-container">
    <div class="d-block w-100 h-100 p-0 flex-column text-center">
        {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
      {% include 'base/navbar.html' %}
      {% block content %} {% endblock %} 
      {% include 'base/footer.html' %}
    </div>
    {% include 'base/scripts.html' %}
  </body>
</html>
