<div class="col-md shadow-sm p-4 m-4 bg-white">
  <div class="row">
    <h5 class="h5">
      <strong>
        Your Bills
      </strong>
    </h5>
  </div>
  <div class="row justify-content-center">
    <div class="card col-lg-10 m-2">
      <div class="card-body">
          <p class="card-title text-truncate">Bill Title</p>
        <p class="card-text">
          <small>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </small>
        </p>
        <a href="#" class="btn btn-primary">Read the Bill</a>
      </div>
    </div>
    <div class="card col-lg-10 m-2">
      <div class="card-body">
          <p class="card-title text-truncate">Bill Title</p>
        <p class="card-text">
          <small>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </small>
        </p>
        <a href="#" class="btn btn-primary">Read The Bill</a>
      </div>
    </div>
    <div class="card col-lg-10 m-2">
      <div class="card-body">
          <p class="card-title text-truncate">Bill Title</p>
        <p class="card-text">
          <small>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </small>
        </p>
        <a href="#" class="btn btn-primary">Read The Bill</a>
      </div>
    </div>
  </div>
</div>
