<div class="col-md shadow-sm p-4 m-4 bg-white">
  <div class="row">
    <h3 class="display-5">
        My Bills
    </h3>
  </div>
  <div class="row justify-content-center">
    {% for bill in your_bills %}
    <div class="card col-lg-9 p-3 my-3 mx-1">
    <dl class="row p-2 justify-content-center">
        <dd class="col-sm-9 text-truncate font-weight-bold">{{bill.short_title}}</dd>
      <dd class="col-sm-9">
        <p>
          {{bill.title}} | Introduced on {{bill.introduced_date[5:]}}-{{bill.introduced_date[2:4]}}
        </p>
        <p>
          <strong>
            Latest action on {{bill.latest_major_action_date[5:]}}-{{bill.introduced_date[2:4]}}:
          </strong>
          {{bill.latest_major_action}}
        </p>
        <a href="{{bill.govtrack_url}}/text" class="btn btn-light" target="_blank"">Read the Bill</a>
      </dd>
    </div>
    {% endfor %}
  </div>
</div>
