* {
    font-family: 'Montserrat', sans-serif;
    color: #183763;
}

body {
    background-color: #FBFBFB;
}
a {
    color: #183763;
}

strong {
    font-weight: 800;
}

.btn-primary {
    border: none;
    background-color: #ffa333;
}
.btn-primary:hover {
    background-color: #ffc680;
}

a:hover {
    color: #ffc680;
}