* {
  font-family: "Montserrat", sans-serif;
  color: #183763;
}

body {
  background-color: #fbfbfb;
}
a {
  color: #183763;
}

strong {
  font-weight: 800;
}

.btn-primary {
  border: none;
  background-color: #ffa333;
}
.btn-primary:hover {
  background-color: #ffc680;
}

a:hover {
  color: #ffc680;
}

nav {
  background-color:#fbfbfb;
}

.btn-outline-primary{
  color: #ffc680;
  border-color: #ffc680;
}

.btn-outline-primary:hover{
  background-color: #ffc680;
  border-color: #ffc680;
}

footer {
  background-color:#fbfbfb;
}