{% extends 'base/base.html' %} {% block title %}Considered Collectively{%
endblock %} {% block content %}

<!-- 
<div class="row pt-5 mx-5">
    <h1 class="display-5"> Read all about it! {{g.user.name}}</h1>
</div> -->

<div class="row pt-5 mx-5">
  <div class="col-md shadow-sm p-3 m-4 bg-white rounded">
    <h3 class="h3">
      <strong>
        Elected Officials
      </strong>
    </h3>
    <ul></ul>
  </div>
  <div class="col-md shadow-sm p-3 m-4 bg-white rounded">
    <h3 class="h3">
      <strong>
        Bills
      </strong>
    </h3>
    <ul></ul>
  </div>
</div>

<div class="row pt-5 mx-5">
  <div class="col-md shadow-sm p-3 m-4 bg-white rounded">
    <h3 class="h3">
      <strong>
        Search
      </strong>
    </h3>
  </div>
</div>

{% endblock %}
