{% extends 'base/base.html' %}

{% block title %}Considered Collectively{% endblock %} 

{% block content %}

<div class="row pt-5">
    <div class="col justify-content-center">
        <p class="display-4"><strong>Legislation at your fingertips.</strong></p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="lead">Follow your elected officials and their sponsored legislation in Congress.</p>
    </div>
</div>
<div class="row pt-5">
    {% include 'illustrations/debate.html' %}
    <div class="col-md-4">
        <p class="display-5"><strong>Stay Informed</strong></p>
    </div>
    <div class="row p-5 justify-content-center">
        <div class="col-md-5 " >
            <p class="lead"><small>The Oxford Dictionary defines legislation
             as </br><strong>"Laws, considered collectively."</strong> 
                Our goal is to collectively consider the laws that affect our nation.</small></p>
        </div>
        <div class="lead">---</div>
    </div>
</div>


{% endblock %}