{% extends 'base/base.html' %} {% block title %}Considered Collectively{%
endblock %} {% block content %}

<div class="row pt-5 mx-5">
  <div class="col-md shadow-sm p-3 m-4 bg-white rounded">
    <h5 class="h5">
      <strong>
        Elected Officials
      </strong>
    </h5>
    <ul>
      <li>Hellow here</li>
    </ul>
  </div>
  <div class="col-md shadow-sm p-3 m-4 bg-white rounded">
    <h5 class="h5">
      <strong>
        Bills
      </strong>
    </h5>
    <ul></ul>
  </div>
</div>
<div class="row pt-5 mx-5 align-content-center">
  {% include 'modules/search.html' %}
</div>

{% endblock %}
