{% extends 'base/base.html' %}

{% block title %}Considered Collectively{% endblock %} 
{% block content %}
<div class="row pt-5 justify-content-center mx-5">
    <!-- <div class="col-md-2 p-3 mx-3">
        <h1 class="h3">Hello</h1>
    </div> -->
    <div class="col-md-9 mx-3">
        <div class="row shadow-sm p-2 my-4 bg-white rounded">
            <h1 class="h4">
                <strong>
                    Elected Officials:
                </strong>
            </h1>
            <ul></ul>
        </div>
        <div class="row shadow-sm p-3 my-4 bg-white rounded">
            <h1 class="h4">
                <strong>
                    Bills:
                </strong>
            </h1>
            <ul></ul>
        </div>
        <div class="row shadow-sm p-3 my-4 bg-white rounded">
            <h1 class="h4">
                <strong>
                    Search:
                </strong>
            </h1>
            <ul></ul>
        </div>
    </div>
</div>
{% endblock %}