{% extends 'base/base.html' %}

{% block title %}Considered Collectively{% endblock %} 

{% block content %}

<div class="row pt-5">
    <div class="col">
        <p class="display-4"><strong>Legislation at your fingertips.</strong></p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="lead">Follow your elected officials and their sponsored legislation in Congress.</p>
    </div>
</div>
<div class="row pt-5 pb-3">
    {% include 'illustrations/debate.html' %}
    {% include 'modules/latest_bills.html' %}
</div>
<div class="row m-3 p-3 align-content-center">
    <div class="col-md">
        <a href="/search" class="btn btn-primary btn-lg px-5 mx-3">Explore Bills</a>
    </div>
</div>
{% endblock %}