{% extends 'base/base.html' %}

{% block title %}Considered Collectively{% endblock %} 

{% block content %}

<div class="row pt-5">
    <div class="col justify-content-center">
        <p class="display-4"><strong>Legislation at your fingertips.</strong></p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="lead">Follow your elected officials and their sponsored legislation in Congress.</p>
    </div>
</div>
<div class="row pt-5">
  <div class="col-md-7">
    <img
      src="../../static/images/illustrations/debate.png"
      alt=""
      srcset=""
      class="w-75"
    />
  </div>
   <div class="col-md-4">
        <p class="display-5"><strong>Stay Informed</strong></p>
    </div>

</div>


{% endblock %}