{% extends 'base/base.html' %}

{% block title %}Login | Considered Collectively{% endblock %} 
{% block content %}

<div class="container-fluid pt-5">
    <div class="row">
        <H1 class="display-3"><strong>Welcome Back!</strong></H1>
    </div>
    {% include 'illustrations/group.html' %}
    <div class="row justify-content-center pt-4">
        <div class="col-md-4">
            <div class="lead m-3"><strong>Already a member?</strong> Log in below.</div>
            {% include 'forms/login.html' %}
        </div>
    </div>
</div>

{% endblock %}