<div class="row align-items-start justify-content-center pt-5">
  <div class="col-md .d-none .d-md-block ">
    <img
      src="../../static/images/illustrations/standing_1.png"
      alt=""
      srcset=""
      class="w-50"
    />
  </div>
  <div class="col-md">
    <img
      src="../../static/images/illustrations/standing_2.png"
      alt=""
      srcset=""
      class="w-50"
    />
  </div>
  <div class="col-md">
    <img
      src="../../static/images/illustrations/standing_3.png"
      alt=""
      srcset=""
      class="w-50"
    />
  </div>
  <div class="col-md">
    <img
      src="../../static/images/illustrations/standing_4.png"
      alt=""
      srcset=""
      class="w-50"
    />
  </div>
</div>
